@define-color background #303446;
@define-color background-focused #292b44;
@define-color foreground #babbf1;
@define-color warn #fc76f3;
@define-color disconnected #fcf346;
@define-color color1 #f4b8e4;
@define-color color2 #00dcf9;
@define-color color3 #00e8e3;
@define-color color4 #00f5c5;
@define-color color5 #00ff99;
@define-color color6 #a46afc;
